body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: white;
}

.quem-somos {
    background-color: #FE642E;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #2EFE2E;
    color: white;
}

.servicos {
    background-color: #2E9AFE;
    color: white;
}

.bg-footer {
    background-color: black;
    color: white;
}